@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "nullindex";


html {
   scroll-behavior: smooth;
}
body {
   margin: 0 auto;
   max-width: 100%;
   max-height: 100%;
   font-family: 'Exo 2';
   font-size: 20px;
   line-height: 30px;
}
.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 390px;
}


.form {
   margin: 25px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   position: relative;
   h1 {
      margin: 0 auto 15px;
      flex: 0 1 100%;
   }
   .form__limit {
      max-width: 360px;
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 45px;
      opacity: 1;
      visibility: visible;
      transition: all .5s ease;
      &.js-closed {
         opacity: 0;
         visibility: hidden;
      }
      label {
         flex: 1 1 100%;
         .limit__input {
            padding: 0 10px;
            width: 100%;
            font-weight: 200;
            font-size: 20px;
            line-height: 44px;
            border: 1px solid black;
            border-right: none;
            border-radius: 15px 0 0 15px;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
               display: none;
               -webkit-appearance: none;
            }
            &:-webkit-autofill {
               font-size: 24px;
               box-shadow: inset 0 0 0 50px white;
               -webkit-box-shadow: inset 0 0 0 50px white;
               -webkit-text-fill-color: black;
            }
         }
      }
      .limit__btn {
         padding: 0 10px;
         width: 50px;
         background: url('../../Img/icon/done.png') center center / 40px 40px no-repeat ,#fff;
         border: 1px solid black;
         border-left: none;
         border-radius: 0 15px 15px 0;
         transition: all .3s ease;
      }
   }
   .form__expenses {
      width: 100%;
      display: flex;
      position: absolute;
      top: 91px;
      opacity: 0;
      visibility: hidden;
      transform: translate(0, -100%);
      transition: all .5s ease;
      &.js-open {
         transform: translate(0, 0);
         opacity: 1;
         visibility: visible;
      }
      label {
         flex: 1 1 100%;
         .expenses__input {
            padding: 0 10px;
            width: 100%;
            font-weight: 200;
            font-size: 20px;
            line-height: 44px;
            border: 1px solid black;
            border-right: none;
            border-top: none;
            border-radius: 0 0 0 15px;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
               display: none;
               -webkit-appearance: none;
            }
            &:-webkit-autofill {
               font-size: 24px;
               box-shadow: inset 0 0 0 50px white;
               -webkit-box-shadow: inset 0 0 0 50px white;
               -webkit-text-fill-color: black;
            }
         }
      }
      .expenses__btn {
         padding: 0 10px;
         font-weight: 400;
         font-size: 20px;
         line-height: 44px;
         background-color: #fff;
         border: 1px solid black;
         border-left: none;
         border-top: none;
         border-radius: 0 0 15px 0;
         @media (max-width: 459px) {
            width: 50px;
            height: 45px;
            font-size: 0px;
            background: url('../../Img/icon/add.png') 50% center / 35px 35px  no-repeat;
         }
      }
   }
   .form__category {
      padding: 0 10px;
      width: 100%;
      height: 46px;
      background: url('../../Img/icon/done.png') 99% 100% / 40px 40px no-repeat ,#fff;
      color: gray;
      font-family: "Exo 2";
      font-size: 20px;
      font-weight: 200;
      line-height: 44px;
      appearance: none;
      border: 1px solid black;
      border-bottom: none;
      border-radius: 15px 15px 0 0;
      opacity: 0;
      visibility: hidden;
      transition: all .5s ease;
      &.js-open {
         opacity: 1;
         visibility: visible;
      }
   }
}

.data {
   margin: 60px 0 0 0;
   display: flex;
   .data__info {
      flex: 0 1 65%;
      .info__limit {
         visibility: hidden;
         opacity: 0;
         transition: all .3s ease;
         &.js-active {
            visibility: visible;
            opacity: 1;
         }
         .js-info__limit-change {
            width: 23px;
            height: 23px;
            cursor: pointer;
            position: relative;
            top: 3px;
            left: 5px;
            display: inline-block;
            background: url("../../Img/icon/change.svg") center bottom / 100% no-repeat ;
         }
      }
      .info__sum, 
      .info__balance {
         visibility: hidden;
         opacity: 0;
         transition: all .3s ease;
         &.js-active {
            visibility: visible;
            opacity: 1;
            }
         }
      }
      h2 {
         margin: 0 0 15px 0;
      }
      .reset__btn {
         width: 95%;
         background: white;
         color: black;
         font-size: 16px;
         font-weight: 200;
         line-height: 35px;
         border: 1px solid black;
         border-radius: 10px;
         visibility: hidden;
         opacity: 0;
         transition: all .3s ease;
         &.js-active {
            visibility: visible;
            opacity: 1;
         }
      }
      .info__balance {
         position: relative;
         .js-status {
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            left: -15px;
            border-radius: 50%;
            border: 1px solid gray;
      }
   }
   .data__history {
      padding: 0 0 0 20px;
      flex: 0 1 50%;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: all .3s ease;
      &.js-active {
         visibility: visible;
         opacity: 1;
      }
      ol {
         font-size: 16px;
         line-height: 20px;
      }
      h2 {
         margin: 0 0 15px 0;
      }
      li {
         margin: 0 0 10px 0;
         list-style-position:inside;
      }
   }
}





