@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 390px;
}

.form {
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.form h1 {
  margin: 0 auto 15px;
  flex: 0 1 100%;
}
.form .form__limit {
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.form .form__limit.js-closed {
  opacity: 0;
  visibility: hidden;
}
.form .form__limit label {
  flex: 1 1 100%;
}
.form .form__limit label .__limit_input {
  padding: 0 10px;
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  line-height: 44px;
  border: 1px solid black;
  border-right: none;
  border-radius: 15px 0 0 15px;
}
.form .form__limit label .__limit_input::-webkit-outer-spin-button, .form .form__limit label .__limit_input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.form .form__limit label .__limit_input:-webkit-autofill {
  font-size: 24px;
  box-shadow: inset 0 0 0 50px white;
  -webkit-box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: black;
}
.form .form__limit .__btn_limit {
  padding: 0 10px;
  width: 50px;
  background: url("../../Img/icon/done.png") center center/40px 40px no-repeat, #fff;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 15px 15px 0;
  transition: all 0.3s ease;
}
.form .__expenses {
  max-width: 100%;
  display: flex;
  position: absolute;
  top: 70px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.form .__expenses.js-open {
  opacity: 1;
  visibility: visible;
}
.form .__expenses label .__expenses_input {
  flex: 1 1 100%;
  padding: 0 10px;
  max-width: 100%;
  font-weight: 200;
  font-size: 20px;
  line-height: 44px;
  border: 1px solid black;
  border-right: none;
  border-radius: 15px 0 0 15px;
}
.form .__expenses label .__expenses_input::-webkit-outer-spin-button, .form .__expenses label .__expenses_input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.form .__expenses label .__expenses_input:-webkit-autofill {
  font-size: 24px;
  box-shadow: inset 0 0 0 50px white;
  -webkit-box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: black;
}
.form .__expenses .__btn_expenses {
  padding: 0 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  background-color: #fff;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 15px 15px 0;
}
@media (max-width: 459px) {
  .form .__expenses .__btn_expenses {
    width: 50px;
    height: 46px;
    font-size: 0px;
    background: url("../../Img/icon/add.png") center center/35px 35px no-repeat;
  }
}

.data {
  margin: 65px 0 0 0;
  display: flex;
}
.data .__info {
  flex: 0 1 50%;
}
.data .__info .info__limit {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.data .__info .info__limit.js-active {
  visibility: visible;
  opacity: 1;
}
.data .__info .info__limit .js-info__limit-change {
  width: 23px;
  height: 23px;
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  background: url("../../Img/icon/change.svg") center bottom/100% no-repeat;
}
.data .__info .info__sum {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.data .__info .info__sum.js-active {
  visibility: visible;
  opacity: 1;
}
.data .__info h2 {
  margin: 0 0 15px 0;
}
.data .__history {
  padding: 0 0 0 30px;
  visibility: hidden;
  opacity: 0;
  flex: 0 1 50%;
  transition: all 0.3s ease;
}
.data .__history.js-active {
  visibility: visible;
  opacity: 1;
}
.data .__history h2 {
  margin: 0 0 15px 0;
}
.data .__history li {
  list-style-position: inside;
}/*# sourceMappingURL=index.css.map */