@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /*Обнуляющие стили*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  font-family: "Exo 2";
  font-size: 20px;
  line-height: 30px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(225, 239, 255) 50%, rgb(255, 255, 255) 100%), linear-gradient(180deg, rgb(225, 239, 255) 0%, rgb(255, 255, 255) 100%);
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 390px;
}

.form {
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.form h1 {
  margin: 0 auto 15px;
  flex: 0 1 100%;
}
.form .form__limit {
  max-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 45px;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.form .form__limit.js-closed {
  opacity: 0;
  visibility: hidden;
}
.form .form__limit label {
  flex: 1 1 100%;
}
.form .form__limit label .limit__input {
  padding: 0 10px;
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  line-height: 44px;
  border: 1px solid black;
  border-right: none;
  border-radius: 15px 0 0 15px;
}
.form .form__limit label .limit__input::-webkit-outer-spin-button, .form .form__limit label .limit__input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.form .form__limit label .limit__input:-webkit-autofill {
  font-size: 24px;
  box-shadow: inset 0 0 0 50px white;
  -webkit-box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: black;
}
.form .form__limit .limit__btn {
  padding: 0 10px;
  width: 50px;
  background: url("../../Img/icon/done.png") center center/40px 40px no-repeat, #fff;
  border: 1px solid black;
  border-left: none;
  border-radius: 0 15px 15px 0;
  transition: all 0.3s ease;
}
.form .form__expenses {
  width: 100%;
  display: flex;
  position: absolute;
  top: 91px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -100%);
  transition: all 0.5s ease;
}
.form .form__expenses.js-open {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.form .form__expenses label {
  flex: 1 1 100%;
}
.form .form__expenses label .expenses__input {
  padding: 0 10px;
  width: 100%;
  font-weight: 200;
  font-size: 20px;
  line-height: 44px;
  border: 1px solid black;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 15px;
  appearance: none;
  -moz-appearance: textfield;
}
.form .form__expenses label .expenses__input::-webkit-outer-spin-button, .form .form__expenses label .expenses__input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.form .form__expenses label .expenses__input:-webkit-autofill {
  font-size: 24px;
  box-shadow: inset 0 0 0 50px white;
  -webkit-box-shadow: inset 0 0 0 50px white;
  -webkit-text-fill-color: black;
}
.form .form__expenses .expenses__btn {
  padding: 0 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 44px;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  border-radius: 0 0 15px 0;
}
@media (max-width: 459px) {
  .form .form__expenses .expenses__btn {
    width: 50px;
    height: 45px;
    font-size: 0px;
    background: url("../../Img/icon/add.png") 50% center/35px 35px no-repeat, #fff;
  }
}
.form .form__category {
  padding: 0 10px;
  width: 100%;
  height: 46px;
  background: url("../../Img/icon/done.png") 99% 100%/40px 40px no-repeat, #fff;
  color: gray;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 200;
  line-height: 44px;
  appearance: none;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.form .form__category.js-open {
  opacity: 1;
  visibility: visible;
}

.data {
  margin: 55px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}
.data .data__info {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.data .data__info .info__limit {
  flex: 0 1 30%;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.data .data__info .info__limit.js-open {
  visibility: visible;
  opacity: 1;
}
.data .data__info .info__limit .limit__change {
  width: 23px;
  height: 23px;
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 5px;
  display: inline-block;
  background: url("../../Img/icon/change.svg") center bottom/100% no-repeat;
}
.data .data__info .info__sum,
.data .data__info .info__balance {
  flex: 0 1 30%;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.data .data__info .info__sum.js-open,
.data .data__info .info__balance.js-open {
  visibility: visible;
  opacity: 1;
}
.data h2 {
  margin: 0 0 10px 0;
}
.data .changelim__btn,
.data .reset__btn {
  margin: 0 0 10px 0;
  width: calc(50% - 5px);
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 200;
  line-height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.data .changelim__btn.js-open,
.data .reset__btn.js-open {
  visibility: visible;
  opacity: 1;
}
.data .info__balance {
  position: relative;
}
.data .info__balance .balance__status {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: 6px;
  border-radius: 50%;
  border: 1px solid gray;
}
.data .data__history {
  flex: 0 1 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.data .data__history.js-open {
  visibility: visible;
  opacity: 1;
}
.data .data__history ul {
  font-size: 16px;
  line-height: 20px;
}
.data .data__history h2 {
  margin: 0 0 10px 0;
}
.data .data__history li {
  margin: 0 0 10px 0;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: #000000;
  border-radius: 15px;
  list-style-position: inside;
}/*# sourceMappingURL=index.css.map */